// Pagination
//
// Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
// there are no more previous or next posts to show.

.pagination {
  display: flex;
  margin: 0 -1.5rem var(--spacer);
  color: var(--text-muted);
  text-align: center;
  font-family: var(--mono-font);
}

// Pagination items can be `span`s or `a`s
.pagination-item {
  display: block;
  padding: var(--spacer);
  text-decoration: none;
  border: solid var(--border-color);
  border-width: 1px 0;

  &:first-child {
    margin-bottom: -1px;
  }
}

.pagination-item.older::before {
  content: "<< ";
  color: var(--text-dim);
}

.pagination-item.newer::after {
  content: " >>";
  color: var(--text-dim);
}

// Only provide a hover state for linked pagination items
a.pagination-item:hover {
  color: var(--accent-cyan);
  background-color: transparent;
}

@media (min-width: 30em) {
  .pagination {
    margin: var(--spacer-3) 0;
  }

  .pagination-item {
    float: left;
    width: 50%;
    border-width: 1px;

    &:first-child {
      margin-bottom: 0;
    }
    &:last-child {
      margin-left: -1px;
    }
  }
}
